<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id = "form" name = "form" method = "post" action = "/catweb/tatweb/category_list_update" th:object = "${categoryDto}">
    <input type = "number" th:field = "*{id}" readonly/>
    <input type = "text" th:field = "*{name}"/>
    <input type = "submit" value = "수정" />
    <input type ="reset" value = "원복"/>
    <a th:href="@{/ctweb/oldhtml/category_list_del(id=*{id})}">삭제</a>
</form>
</body>
</html>